
body {
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "roboto" , sans-serif;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin: 100px;

}

.header-links {
    background-color: #1F2937;
    display:flex;
    justify-content: flex-end;
    align-items: top;
    gap: 16px;
    color: #F9FAF8;
    margin-right: 100px;
    margin-top: -250px;
}

.image-one {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
    gap: 30px;
}

.hero-image {
    height:1000px;
    width: 500px;
    margin-left:1000px;
    margin-bottom:1300px;
    margin-right: auto;
    margin-top: auto;

}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: "roboto" , sans-serif;
}

p {
   size: 18px;
   color:#E5E7EB; 
}

button {
    background-color: blue;
    color:#F9FAF8;
    height: 40px;
    width: 84px;
    margin-left: 100px;
}


 h2 {
    color: white;
 }
.flower-tiles {
    background-color: #3882F6;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F9FAF8;
}