
body {
    background-color: #1F2937;
}

.container-one {
    background-color: #1F2937;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin: 100px;

}

.header-links {
    background-color: #1F2937;
    display:flex;
    justify-content: flex-end;
    align-items: top;
    gap: 16px;
    color: #F9FAF8;
    margin: 100px;
}

.image-one {
    /* Image isn't pushed up to top of page */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
    gap: 30px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    font: "roboto" , sans-serif;
}

p {
   size: 18px;
   color:#E5E7EB; 
}

button {
    background-color: blue;
    color:#F9FAF8;
    height: 40px;
    width: 84px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F9FAF8;
}