
body {
    font-family: "roboto" , sans-serif;
}

/* HEADER */
header {
    background-color: #1f2937;
    padding: 16px 13em;
}


/* NAV */
#logo {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* WELCOME */
.welcome {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}
.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: blue;
    color:#F9FAF8;
    height: 40px;
    width: 84px;
    margin-left: 100px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}

/* FLOWER TILES */

main {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0;
    margin-top: 36px;
}

main h2 {
    font-size:36px;
    font-weight: 900;
    color: #1F2937;
}




.flower-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: center;
    margin: 36px 0 90px 0;
    background-color: white;
}


.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction:column;
    align-items: center;        
    gap: 8px;
}

#sunflower {
    height: 200px;
    max-width: 200px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}


.hero-image {
    /*
    height:1000px;
    width: 500px;
    margin-left:1000px;
    margin-bottom:1300px;
    margin-right: auto;
    margin-top: auto; */

}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: "roboto" , sans-serif;
}

p {
   size: 18px;
   color:#E5E7EB; 
}




 h2 {
    color: white;
 }
.flower-tiles { 

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F9FAF8;
}